@import 


body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
	padding: 0;
}
body a{
	text-decoration: none;
}
/*############################CSS FOR THE HEADER#########################################*/
#header{
	min-width: 100vh -94px;
}
/*#########TEXT CSS########################################*/
#header .header-title {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    margin-top: 3.2em;
}
.text-color-main{
    font-size: 40px;
    color: #2c3033;
    line-height: 1.25;
    font-weight: 700;
    position: relative;
    z-index: 1;
    text-decoration: none;
}
.text-color-main::after {
    width: 365px;
    height: 4px;
    position: absolute;
    content: "";
    bottom: 9px;
    z-index: -1;
    left: 0;
    background-color: #242424;
}

.header-title{
 	animation:fromleft;
	animation-duration: 3s;
	animation-delay: 1s;
	opacity: 0;	
	animation-fill-mode: forwards;
 }
 /*##############BUTTON CSS############################*/
 #header .header-cta a {
    font-size: 1.4rem;
    animation:fromleft;
	animation-duration: 3s;
	animation-delay: 1s;
	opacity: 0;	
	animation-fill-mode: forwards;
 }
 @keyframes fromleft{
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}
	50%{
		transform: translateX(30px);
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}

.cta-btn--header:hover {
    -webkit-text-fill-color: #fff;
    text-decoration: none;
}
a:hover {
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #0056b3;
}
.cta-btn--header {
    background-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
    -webkit-background-clip: text;
}
.cta-btn--header {
    color: #00cdac;
    -webkit-text-fill-color: #00cdac;
    border: 2px solid transparent;
    border-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
    border-image-slice: 1;
}
.text-color-main{
	color:#01c3ad;
}

.cta-btn--header:hover::after {
    width: 100%;
}
.cta-btn--header::after {
    background-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
}
.cta-btn::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}
.cta-btn {
    display: inline-block;
    position: relative;
    padding: 0.8rem 1.6rem;
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}
p, a {
    font-family: 'Montserrat', sans-serif;
}
.header-image{
	height:auto;
    width:500px;
}
/*#################END CSS FOR HEADER###################################*/
/*#####################CSS FOR THE ABOUT###################################################################*/
#about {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
}
#about {
    background-color: #02aab0;
    background-image: linear-gradient(135deg, #02aab0 0%, 
    #00cdac 100%);
    color: #fff;
    border-top: 0px;
    padding-bottom: 10%;
}
.section-title{
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
section {
    padding: 5rem 0rem;
}

/*############ABOUT TEXT####################################*/
.about-wrapper__info p{
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
}
.cta-btn--resume:hover::after {
    width: 100%;
}
.cta-btn--resume::after {
    background: #fff;
}
.cta-btn::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}
element {
}
.cta-btn--resume:hover {
    color: #00cdac;
    text-decoration: none;
}
a:hover {
    transition: all 0.3s ease-in-out;
}
.cta-btn--resume {
    color: #fff;
    border: 2px solid #fff;
}
.cta-btn {
    display: inline-block;
    position: relative;
    padding: 0.8rem 1.6rem;
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}
/*p, a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}
*/

/*############################END ABOUT CSS############################################*/
/*############################PROJECT CSS###############################*/
#projects .project-wrapper {
    margin-bottom: 6rem;
}

#projects .project-wrapper .row {
    margin-bottom: 4rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#projects .project-wrapper__text {
    margin-bottom: 2.8rem;
}
#projects .project-wrapper__text {
    text-align: left;
}
#projects .project-wrapper__text-title {
    font-weight: bold;
   	margin-bottom: 1em;
    font-size: 2.5rem;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
#projects .text-color {
    font-size: 20px;
    color:  #00cdac;
    line-height: 1.25;
    font-weight: 700;
    z-index: 1;
    text-decoration: none;
}
img{
	/*display: block;
	max-width: 100%;
	height: auto;*/
}

/*###################################CSS FOR CONTACT ##########################*/
/*#contact {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
}*/
#contact {
    background-image: linear-gradient(135deg, #02aab0 0%, #00cdac 100%);
   /* -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);*/
    padding: 7rem 0 7rem 0;
    margin-top: -5rem;
    margin-bottom: -1px;
    color: #fff;
}
#contact .contact-wrapper {
   /* margin-top: 2rem;*/
    padding: 0 2rem;
    backface-visibility: hidden;
}
#contact .contact-wrapper__text{
    font-size: 1.5rem;
    text-align: center;
}
#contact .contact-wrapper a {
    font-size: 1.5rem;
    text-align: center !important;
}
#contact .contact-wrapper__text {
    margin-bottom: 2.5rem;
}
.anchor-space{
	margin-left: 2em;
	margin-right: 2em;

}
/*################################CSS FOR FOOTER###############################*/
.footer {
    background-color: #333333;
    color: #fff;
    padding: 4.8rem 0;
}
.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.social-links i{
	padding: 1rem;
	font-weight: 400;
	line-height: 1.5;
}
#back-to-top{
	background: #00cdac;
	color: #fff;
	border-radius: 10px;
	display:inline-block;
	font-size: 12px;
}
.scrollTop{
	position: fixed;
	bottom: 70px;
	right: 10px;
}


